altair
asn1crypto
beautifulsoup4
blinker
cachetools
certifi
cffi
click
cloudpickle
contourpy
cx-oracle
cycler
dash
dash-core-components
dash-html-components
dash-table
entrypoints
et-xmlfile
faker
favicon
filelock
pymupdf
flask
fonttools
gitdb
gitpython
greenlet
htbuilder
idna
importlib-resources
itsdangerous
jinja2
jsonschema
jsonschema-specifications
jwt
kiwisolver
lxml
markdown
markdown-it-py
markdownlit
markupsafe
matplotlib
mdurl
more-itertools
narwhals
numpy
openpyxl
pandas
pillow
pkgutil-resolve-name
plotly
prometheus-client
protobuf
pyarrow
pycparser
pydeck
pyjwt
pymdown-extensions
pymupdf
pyparsing
python-dateutil
pytz
pyyaml
referencing
retrying
rich
rpds-py
smmap
snowflake-connector-python
snowflake-snowpark-python
sortedcontainers
soupsieve
sqlalchemy
st-annotated-text
st-oauth
st-pages
st-snowauth
st-theme
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-navigation-bar
streamlit-toggle-switch
streamlit-vertical-slider
tenacity
toml
tomlkit
tzdata
urllib3
validators
watchdog
werkzeug
